<div>
  <h2>
    Register for VSM
  </h2>
  <div class="vsmForm1">
    <form [formGroup]="vsmForm" (ngSubmit)="onSubmit()">
      <div class="formRow">
        <div class="labelDiv">
          <label>
            Name:
          </label>
        </div>
        <div class="inputDiv">
          <input type="text" formControlName="name">
        </div>
      </div>
      <div class="formRow">
        <div class="labelDiv">
          <label>
            Email ID:
          </label>
        </div>
        <div class="inputDiv">
          <input type="text" formControlName="emailId">
        </div>
      </div>
      <div class="formRow">
        <div class="labelDiv">
          <label>
            Associate ID:
          </label>
        </div>
        <div class="inputDiv">
          <input type="text" formControlName="id">
        </div>
      </div>
      <div>
        <div formGroupName="assessDetails">
          <h3>Assessment Details</h3>

          <div class="formRow">
            <div class="labelDiv">
              <label>
                Project Code:
              </label>
            </div>
            <div class="inputDiv">
              <input type="text" formControlName="projectName">
            </div>
          </div>

          <div class="formRow">
            <div class="labelDiv">
              <label>
                Project Name:
              </label>
            </div>
            <div class="inputDiv">
              <input type="text" formControlName="projectCode">
            </div>
            <label>
            </label>
          </div>

          <div class="formRow">
            <div class="labelDiv">
              <label>
                Apps Count:
              </label>
            </div>
            <div class="inputDiv">
              <input type="text" formControlName="appsCount">
            </div>
          </div>

        </div>
      </div>
      <div class="buttonContainer">
        <button class="submitButton" type="submit" [disabled]="!vsmForm.valid">Submit</button>
      </div>
      <div>
        <div style="color: red;" *ngIf="vsmForm.get('name').invalid">Enter Valid Name</div>
        <div style="color: red;" *ngIf="vsmForm.get('emailId').invalid">Enter Valid Cognizant Email</div style="color: red;">
        <div style="color: red;" *ngIf="vsmForm.get('id').invalid">Enter Valid Employee ID</div style="color: red;">
      </div>
    </form>
  </div>
</div>