/* For Report */
.cdk-overlay-pane {
    max-width: none !important;
    margin-bottom: -35px;
    height: 80vh;
  }
  .table-responsive {
    display: table !important;
  }
  
  .marginAuto {  margin: auto !important; }
  
  .margin0 {  margin: 0px !important; }
  .margin5 {  margin: 5px !important; }
  .margin10 {  margin: 10px !important; }
  .margin15 {  margin: 15px !important; }
  .margin20 {  margin: 20px !important; }
  .margin25 {  margin: 25px !important; }
  
  .marginBottom-15 {  margin-bottom: -15px !important; }
  .marginBottom-10 {  margin-bottom: -10px !important; }
  .marginBottom-6 {  margin-bottom: -6px !important; }
  .marginBottom-5 {  margin-bottom: -5px !important; }
  .marginBottom0 {  margin-bottom: 0px !important; }
  .marginBottom5 {  margin-bottom: 5px !important; }
  .marginBottom10 {  margin-bottom: 10px !important; }
  .marginBottom15 {  margin-bottom:15px !important; }
  .marginBottom20 {  margin-bottom:20px !important; }
  .marginBottom25 {  margin-bottom:25px !important; }
  
  .marginTop-50 {  margin-top: -50px !important; }
  .marginTop-5 {  margin-top: -5px !important; }
  .marginTop0 {  margin-top: 0px !important; }
  .marginTop4 {  margin-top: 4px !important; }
  .marginTop5 {  margin-top: 5px !important; }
  .marginTop9 {  margin-top: 9px !important; }
  .marginTop10 {  margin-top: 10px !important; }
  .marginTop15 {  margin-top:15px !important; }
  .marginTop20 {  margin-top:20px !important; }
  .marginTop25 {  margin-top:25px !important; }
  .marginTop27 {  margin-top:27px !important; }
  .marginTop30 {  margin-top:30px !important; }
  .marginTop70 {  margin-top:70px !important; }
  
  .marginRight0 {  margin-right: 0px !important; }
  .marginRight5 {  margin-right: 5px !important; }
  .marginRight8 {  margin-right: 8px !important; }
  .marginRight10 {  margin-right: 10px !important; }
  .marginRight15 {  margin-right: 15px !important; }
  .marginRight20 {  margin-right: 20px !important; }
  .marginRight25 {  margin-right: 25px !important; }
  
  .marginLeft-10 {  margin-left: -10px !important; }
  .marginLeft5-5 {  margin-left: -5px !important; }
  .marginLeft0 {  margin-left: 0px !important; }
  .marginLeft5 {  margin-left: 5px !important; }
  .marginLeft10 {  margin-left: 10px !important; }
  .marginLeft15 {  margin-left: 15px !important; }
  .marginLeft20 {  margin-left: 20px !important; }
  .marginLeft25 {  margin-left: 25px !important; }
  .marginLeft30 {  margin-left: 30px !important; }
  
  .padding0{ padding: 0px !important; }
  .padding5{ padding: 5px !important; }
  .padding9{ padding: 9px !important; }
  .padding10{ padding: 10px !important; }
  .padding15{ padding: 15px !important; }
  .padding20{ padding: 20px !important; }
  .padding25{ padding: 25px !important; }
  
  .paddingLeftRight0 { padding-left: 0px !important; padding-right: 0px !important; }
  .paddingLeftRight3 { padding-left: 3px !important; padding-right: 3px !important; }
  .paddingLeftRight5 { padding-left: 5px !important; padding-right: 5px !important; }
  .paddingLeftRight10 { padding-left: 10px !important; padding-right: 10px !important; }
  .paddingLeftRight15 { padding-left: 15px !important; padding-right: 15px !important; }
  .paddingLeftRight20 { padding-left: 20px !important; padding-right: 20px !important; }
  .paddingLeftRight25 { padding-left: 25px !important; padding-right: 25px !important; }
  
  .paddingTop0{ padding-top: 0px !important; }
  .paddingTop5{ padding-top: 5px !important; }
  .paddingTop6{ padding-top: 6px !important; }
  .paddingTop10{ padding-top: 10px !important; }
  .paddingTop12{ padding-top: 12px !important; }
  .paddingTop15{ padding-top: 15px !important; }
  .paddingTop20{ padding-top: 20px !important; }
  .paddingTop25{ padding-top: 25px !important; }
  
  .paddingBottom0{ padding-bottom: 0px !important; }
  .paddingBottom5{ padding-bottom: 5px !important; }
  .paddingBottom10{ padding-bottom: 10px !important; }
  .paddingBottom15{ padding-bottom: 15px !important; }
  .paddingBottom20{ padding-bottom: 20px !important; }
  
  .paddingRight0{ padding-right: 0px !important; }
  .paddingRight5{ padding-right: 5px !important; }
  .paddingRight10{ padding-right: 10px !important; }
  .paddingRight15{ padding-right: 15px !important; }
  .paddingRight20{ padding-right: 20px !important; }
  .paddingRight25{ padding-right: 25px !important; }
  
  .paddingLeft0{ padding-left: 0px !important; }
  .paddingLeft5{ padding-left: 5px !important; }
  .paddingLeft10{ padding-left: 10px !important; }
  .paddingLeft15{ padding-left: 15px !important; }
  .paddingLeft20{ padding-left: 20px !important; }
  .paddingLeft25{ padding-left: 25px !important; }
  .paddingLeft30{ padding-left: 30px !important; }
  
  .textAlignLeft {  text-align:left !important; }
  .textAlignRight {  text-align:right !important; }
  .textAlignCenter {  text-align:center !important; }
  
  .textItalics { font-style: italic }
  
  .alignCenter { align-content: center;}
  .alignLeft { align-content: left;}
  .alignRight { align-content: right;}
  
  .floatRightI { float: right !important;}
  .floatRight { float: right;}
  .floatLeft { float: left;}
  .floatNone { float: none !important; }
  
  .fontSize8 { font-size: 8px; }
  .fontSize9 { font-size: 9px; }
  .fontSize10 { font-size: 10px; }
  .fontSize11 { font-size: 11px; }
  .fontSize12 { font-size: 12px; }
  .fontSize13 { font-size: 13px; }
  .fontSize14 { font-size: 14px; }
  .fontSize15 { font-size: 15px; }
  .fontSize16 { font-size: 16px; }
  .fontSize17 { font-size: 17px; }
  .fontSize18 { font-size: 18px; }
  .fontSize19 { font-size: 19px; }
  .fontSize20 { font-size: 20px; }
  .fontSize21 { font-size: 21px; }
  .fontSize22 { font-size: 22px; }
  .fontSize23 { font-size: 23px; }
  .fontSize24 { font-size: 24px; }
  
  .fontWeight500 { font-weight: 500; }
  .fontWeight600 { font-weight: 600; }
  .fontWeight700 { font-weight: 700; }
  .fontWeight800 { font-weight: 800; }
  .fontWeight900 { font-weight: 900; }
  
  .height10 { height: 10px; }
  .height15 { height: 15px; }
  .height24 { height: 24px; }
  .height25 { height: 25px; }
  .height26 { height: 26px; }
  .height27 { height: 27px; }
  .height28 { height: 28px; }
  .height29 { height: 29px; }
  .height30 { height: 30px; }
  .height65 { height: 65px; }
  
  .height5pt { height: 5% !important; }
  .height10pt { height: 10% !important; }
  .height80pt { height:80% !important; }
  .height85pt { height: 85% !important; }
  .height100pt { height: 100% !important; }
  
  .heightMaxContent {
    height: max-content !important;
  }
  
  .heightFull { height: -webkit-fill-available; height: -moz-available; }
  
  .hoverPointer:hover { cursor: pointer !important; }
  .hoverDefault:hover { cursor: default !important; }
  .hoverNotAllowed:hover { cursor: not-allowed !important; }
  
  .breakAll {
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .vsmCol {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0;
    word-wrap: break-word;
    word-break: break-word;
  }
  
  .width1pt {	min-height: 1px; width:	1%;	}
  .width2pt {	min-height: 1px; width:	2%;	}
  .width3pt {	min-height: 1px; width:	3%;	}
  .width4pt {	min-height: 1px; width:	4%;	}
  .width5pt {	min-height: 1px; width:	5%;	}
  .width6pt {	min-height: 1px; width:	6%;	}
  .width7pt {	min-height: 1px; width:	7%;	}
  .width8pt {	min-height: 1px; width:	8%;	}
  .width9pt {	min-height: 1px; width:	9%;	}
  .width10pt { min-height: 1px; width: 10%; }
  .width11pt {	min-height: 1px; width:	11%;	}
  .width12pt {	min-height: 1px; width:	12%;	}
  .width13pt {	min-height: 1px; width:	13%;	}
  .width14pt {	min-height: 1px; width:	14%;	}
  .width15pt {	min-height: 1px; width:	15%;	}
  .width16pt {	min-height: 1px; width:	16%;	}
  .width17pt {	min-height: 1px; width:	17%;	}
  .width18pt {	min-height: 1px; width:	18%;	}
  .width19pt {	min-height: 1px; width:	19%;	}
  .width20pt {	min-height: 1px; width:	20%;	}
  .width21pt {	min-height: 1px; width:	21%;	}
  .width22pt {	min-height: 1px; width:	22%;	}
  .width23pt {	min-height: 1px; width:	23%;	}
  .width24pt {	min-height: 1px; width:	24%;	}
  .width25pt {	min-height: 1px; width:	25%;	}
  .width26pt {	min-height: 1px; width:	26%;	}
  .width27pt {	min-height: 1px; width:	27%;	}
  .width28pt {	min-height: 1px; width:	28%;	}
  .width29pt {	min-height: 1px; width:	29%;	}
  .width30pt {	min-height: 1px; width:	30% !important;  }
  .width31pt {	min-height: 1px; width:	31%;	}
  .width32pt {	min-height: 1px; width:	32%;	}
  .width33pt {	min-height: 1px; width:	33%;	}
  .width34pt {	min-height: 1px; width:	34%;	}
  .width35pt {	min-height: 1px; width:	35%;	}
  .width36pt {	min-height: 1px; width:	36%;	}
  .width37pt {	min-height: 1px; width:	37%;	}
  .width38pt {	min-height: 1px; width:	38%;	}
  .width39pt {	min-height: 1px; width:	39%;	}
  .width40pt {	min-height: 1px; width:	40% !important;	}
  .width41pt {	min-height: 1px; width:	41%;	}
  .width42pt {	min-height: 1px; width:	42%;	}
  .width43pt {	min-height: 1px; width:	43%;	}
  .width44pt {	min-height: 1px; width:	44%;	}
  .width45pt {	min-height: 1px; width:	45%;	}
  .width46pt {	min-height: 1px; width:	46%;	}
  .width47pt {	min-height: 1px; width:	47%;	}
  .width48pt {	min-height: 1px; width:	48%;	}
  .width49pt {	min-height: 1px; width:	49%;	}
  .width50pt {	min-height: 1px; width:	50%;	}
  .width51pt {	min-height: 1px; width:	51%;	}
  .width52pt {	min-height: 1px; width:	52%;	}
  .width53pt {	min-height: 1px; width:	53%;	}
  .width54pt {	min-height: 1px; width:	54%;	}
  .width55pt {	min-height: 1px; width:	55%;	}
  .width56pt {	min-height: 1px; width:	56%;	}
  .width57pt {	min-height: 1px; width:	57%;	}
  .width58pt {	min-height: 1px; width:	58%;	}
  .width59pt {	min-height: 1px; width:	59%;	}
  .width60pt {	min-height: 1px; width:	60% !important;	}
  .width61pt {	min-height: 1px; width:	61%;	}
  .width62pt {	min-height: 1px; width:	62%;	}
  .width63pt {	min-height: 1px; width:	63%;	}
  .width64pt {	min-height: 1px; width:	64%;	}
  .width65pt {	min-height: 1px; width:	65%;	}
  .width66pt {	min-height: 1px; width:	66%;	}
  .width67pt {	min-height: 1px; width:	67%;	}
  .width68pt {	min-height: 1px; width:	68%;	}
  .width69pt {	min-height: 1px; width:	69%;	}
  .width70pt {	min-height: 1px; width:	70%;	}
  .width71pt {	min-height: 1px; width:	71%;	}
  .width72pt {	min-height: 1px; width:	72%;	}
  .width73pt {	min-height: 1px; width:	73%;	}
  .width74pt {	min-height: 1px; width:	74%;	}
  .width75pt {	min-height: 1px; width:	75%;	}
  .width76pt {	min-height: 1px; width:	76%;	}
  .width77pt {	min-height: 1px; width:	77%;	}
  .width78pt {	min-height: 1px; width:	78%;	}
  .width79pt {	min-height: 1px; width:	79%;	}
  .width80pt {	min-height: 1px; width:	80%;	}
  .width81pt {	min-height: 1px; width:	81%;	}
  .width82pt {	min-height: 1px; width:	82%;	}
  .width83pt {	min-height: 1px; width:	83%;	}
  .width84pt {	min-height: 1px; width:	84%;	}
  .width85pt {	min-height: 1px; width:	85%;	}
  .width86pt {	min-height: 1px; width:	86%;	}
  .width87pt {	min-height: 1px; width:	87%;	}
  .width88pt {	min-height: 1px; width:	88%;	}
  .width89pt {	min-height: 1px; width:	89%;	}
  .width90pt {	min-height: 1px; width:	90%;	}
  .width91pt {	min-height: 1px; width:	91%;	}
  .width92pt {	min-height: 1px; width:	92%;	}
  .width93pt {	min-height: 1px; width:	93%;	}
  .width94pt {	min-height: 1px; width:	94%;	}
  .width95pt {	min-height: 1px; width:	95%;	}
  .width96pt {	min-height: 1px; width:	96%;	}
  .width97pt {	min-height: 1px; width:	97%;	}
  .width98pt {	min-height: 1px; width:	98%;	}
  .width99pt {	min-height: 1px; width:	99%;	}
  .width100pt {	min-height: 1px; width:	100%;	}
  
  .width20 { min-height: 1px; width: 20px; }
  .width40 { min-height: 1px; width: 40px; }
  .width70 { min-height: 1px; width: 70px; }
  .width280 { min-height: 1px; width: 280px; }
  
  .widthMaxContent { width: max-content; }
  
  .colorRed { color: red !important }
  .colorWhite { color: white !important }
  .colorBlack { color: black !important }
  .colorLightBlack { color: rgba(0, 0, 0, 0.7) !important }
  .colorGreen { color: green !important }
  .colorYellow { color: yellow !important }
  .colorGrey { color: grey !important }
  
  .displayNone { display: none; }
  
  .bgColorNone { background: transparent !important; }
  
  .borderNone { border: none !important; }
  .borderLeftNone { border-left: none !important; }
  .borderRightNone { border-right: none !important; }
  .borderTopNone { border-top: none !important; }
  .borderBottomNone { border-bottom: none !important; }
  .borderRight { border-right: 1px solid !important; }
  .borderLeft { border-left: 1px solid !important; }
  
  .borderGrey1 { border: solid 1px #ddd !important; }
  
  .vsmLabel { color: #8e99a3; font-size: 10px; }
  
  ::-webkit-scrollbar { width: 7px; height: 7px; }
  /* Track */
  ::-webkit-scrollbar-track { background: rgba(0,0,0,.3); border-radius: 10px; }
  /* Handle */
  ::-webkit-scrollbar-thumb { background: #888; border-radius: 10px; }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover { background: #555; }
  
.btn {
    margin: 10px; padding: 10px; background-color: green; color: white;
}
.btn:focus {
  outline: none !important;
}

img {
    width: 700px;
}

.mainComponent {
  margin: 20px;
  border: solid 2px lightgray;
  padding: 10px 15px 15px 15px;
}