<div>
  <div>VSM</div>
  <div>Value Stream Mapping</div>
  <div>
    <img src="./../../../assets/images/vsm/main.png" />
  </div>

  <a routerLink="/vsm/main" class="">
    <button style="margin: 10px; padding: 10px; background-color: green; color: white;">Home</button>
  </a>
  <a routerLink="/vsm/about" class="">
    <button style="margin: 10px; padding: 10px; background-color: green; color: white;">About</button>
  </a>
  <a routerLink="/vsm/register" class="">
    <button style="margin: 10px; padding: 10px; background-color: green; color: white;">Register</button>
  </a>
  <!-- <router-outlet></router-outlet> -->

</div>