<div class="mainComponent">
  <h2>VSM</h2>
  <h3>Value Stream Mapping</h3>
  <button class="btn" (click)="setMain()">Home</button>
  <button class="btn" (click)="setAbout()">About</button>
  <button class="btn" (click)="setRegister()">Register</button>

  <div *ngIf="componentToShow=='main'">
    <img src="./../../../assets/images/vsm/main.png" />
  </div>
  <app-about-vsm *ngIf="componentToShow=='about'"></app-about-vsm>
  <app-register-vsm *ngIf="componentToShow=='register'"></app-register-vsm>

</div>